# How to create Python Pandas DataFrames

In [15]:
import pandas as pd

In [16]:
# Empty dataframe
emp_df = pd.DataFrame()
print(emp_df)

Empty DataFrame
Columns: []
Index: []

In [17]:
lst = ['a', 'b', 'c']
print(lst)

['a', 'b', 'c']

In [18]:
df1 = pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [19]:
df1

   0
0  a
1  b
2  c

In [20]:
# Creating dataframes of list-of-list
ls_ls = [[1,2,3],[4,5,6],[7,8,9]]
print(ls_ls)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
df2 =  pd.DataFrame(ls_ls)
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
ls2 = [[1,2],[2,3,4,5],[8,9,1],[8]]
df3 = pd.DataFrame(ls2)
print(df3)

   0    1    2    3
0  1  2.0  NaN  NaN
1  2  3.0  4.0  5.0
2  8  9.0  1.0  NaN
3  8  NaN  NaN  NaN

In [23]:
# Panel DataFrames
# One Column DataFrames
dict1 = {'ID':[11,12,13,14]}
print(dict1)

{'ID': [11, 12, 13, 14]}

In [24]:
df4 = pd.DataFrame(dict1)
print(df4)

   ID
0  11
1  12
2  13
3  14

In [32]:
# Panel DataFrames
# More Column DataFrames
dict2 = {'ID2':[1,2,3,4], 'SN2':[5,6,7,8]}

In [33]:
df5 = pd.DataFrame(dict2)
print(df5)

   ID2  SN2
0    1    5
1    2    6
2    3    7
3    4    8