In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [3]:
# To creating Series
list1 = [2,3,4,5]
pd.Series(list1)

0    2
1    3
2    4
3    5
dtype: int64

In [4]:
pd.Series([10,12,44,563,73])

0     10
1     12
2     44
3    563
4     73
dtype: int64

In [5]:
# TO change the default index number
pd.Series([10,20,30,40], index=['a', 'b', 'c', 'd'])

a    10
b    20
c    30
d    40
dtype: int64

In [6]:
pd.Series({'a':34, 'z':90})

a    34
z    90
dtype: int64

In [7]:
# Accessing the series
s1 = pd.Series([10,20,30])

In [8]:
s1[0]

10

In [9]:
s1[:2]

0    10
1    20
dtype: int64

In [10]:
# Find the max value from the series
max(s1)

30

In [11]:
# Find number greater than
s1[s1>10]

1    20
2    30
dtype: int64

In [12]:
a1=  pd.Series([10,20,30])
a2 = pd.Series([40,50,60])

In [13]:
# Arithmetic
a1 + a2

0    50
1    70
2    90
dtype: int64

In [14]:
a3=  pd.Series([10,20,30])
a4 = pd.Series([40,50])

In [15]:
a3 + a4

0    50.0
1    70.0
2     NaN
dtype: float64